.user-list-tabs {
    display: inline-flex;
}

.user-list-tab {
    font-family: "Open Sans Regular";
    font-size: 14pt;
    line-height: 40px;
    color: #555555;
    text-align: center;
    width: 130px;
    height: 40px;
    background: #ffffff;
}

.user-list-tab.nonactive {
    border: 1px solid #dddddd;
    background: #f8f8f8;
    color: #777777;
}
