.user-list-container {
    background: #ffffff;
    width: 260px;
    height: 650px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.user-list {
    margin: 10px 0;
    height: 490px;
    overflow-y: auto;
}

